<h1>Trips</h1>
<hr />

<h2><%= @trips.length <= 0 ? "No trips" : "" %></h2> 

<ul>
  <% @trips.each do |trip| %>
    <li>

<div class="card card-form mb-3">
<div class="form-group">
      <h1><%= link_to trip.name, trip %></h1>
      <p>Start Date: <%= trip.start_date %></p>
      <p>End Date: <%= trip.end_date %></p>
</div>
</div>
    </li>
  <% end %>
</ul>

<center>
<button class="btn btn-outline-primary">
<%= link_to 'New Trip', new_trip_path %>
</button>
</center>