<h1>Vacation planner</h1>
<h2>Please fill out the trip planner form</h2>

<div class="card card-form mb-3">
<div class="form-group">

<%= form_for @trip do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true, class: 'form-control' %>
    <br>
    <%= f.label :start_date %>
<%= f.date_field :start_date, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
    <br>
    <%= f.label :end_date %>
<%= f.date_field :end_date, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
    <br>
    <%= f.submit %>
<% end %>

</div>
</div>