    <h1><i class="fas fa-plane"></i> Vacation Name: <%= @trip.name %> </h1>

    <ul> 
    <li> Start Date: <%= @trip.start_date %> </li> 
    <li> End Date: <%= @trip.end_date %> </li> 
    </ul>
    
    <%= link_to 'Add Location', new_trip_location_path(@trip) %>
    
    <%= link_to 'Write a review', new_trip_review_path(@trip) %>
    <%= link_to 'Read reviews', trip_reviews_path(@trip, @review) %>

<hr>

<p> Update trip details </p>

<button class="btn btn-info"> <%= link_to 'Back', root_path%> </button>

<button class="btn btn-warning"> <%= link_to 'Update Details', edit_trip_path(@trip) %> </button>

<button class="btn btn-danger">  <%= link_to 'Delete Trip', @trip,  method: :delete %> </button>
