<h1> Write Review </h1>
<%= form_for [@trip,@review] do |f| %>
<%= f.label :title %>
<%= f.text_field :title, required: true, class: 'form-control' %>
<br>
<%= f.label :body %>
<%= f.text_area :body, required: true, class: 'form-control' %>
<br>
<%= f.label :rating %>
<%= f.text_field :rating, required: true, class: 'form-control' %>
<br>
<%= f.label :user_name %>
<%= f.text_field :user_name, required: true, class: 'form-control' %>
<br>
<%= f.submit %>
<% end %>
