<h3> Location Destination </h3>

<h1> <%= @location.name %> </h1>

    <ul> 
    <li> Start Date: <%= @location.days %> </li> 
    </ul>
    

<hr>

 <%= link_to 'Add Address', new_location_address_path(@location) %>

<p> Update trip details </p>

<button class="btn btn-info"> <%= link_to 'Back', root_path %> </button>

<button class="btn btn-warning"> <%= link_to 'Update Details', edit_trip_location_path(@trip, @location) %> </button>

<button class="btn btn-danger">  <%= link_to 'Delete location',[@trip, @location],  method: :delete %> </button>
